html{
	font-family: Arial, Helvetica, sans-serif;
    color: #3a4f54;
	margin:0;
	height: 100%;
}

body {
	padding: 0px 10px 0px 10px;
	background-color: #f5f5f5;
	margin:0;
	height: 100%;
}

#container{
	margin:0;
	height: 100%;
}

#content{
	padding: 5px;
}

#footer{
	text-align: right;
	font-size: 0.85em;
}

#footer .github{
	width:24px;
	heigh:24px;
}

#authStatus{
	text-align:right;
	padding-right: 5px;
}


.form-signin {
	max-width: 400px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 20px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.center{
	text-align: center;
}


/**************************
* Home
***************************/
.prices table tr.current td, .prices table tr.current th{
	background-color: #99ccff;
}
.prices .comment{
	text-align: right;
	font-size: 0.8em;
	color: #99ccff;
}

/**************************
* Unclassified
***************************/

.notgranted{
	background-color: #ff9999;
}
.granted{
	background-color:#ccffcc ;
}

/* Removing the scroll bar of layout */

.ui-layout-unit{
	border: none;
}

.alignTop {
	vertical-align: top;
}


.tablerow.payment{
	background-color: #ccffcc;
}
.tablerow.usage{
	background-color: #ffcc99 ;
}
.tablerow.subscription{
	background-color: #99ccff;
}
.tablerow .negativbalance{
	font-weight: bold;
	background-color: #ff9999;
}

td{
	vertical-align: top;
}

label{
	padding-right: 10px;
}

label.right{
	text-align: right;
	width: 100%;
}

.modal-dialog-center { /* Edited classname 10/03/2014 */
    margin: 0;
    position: absolute;
    top: 50%;
}
.ajaxStatus{
	position:fixed;
	right:20px;
	bottom:20px
}

/**************************
* Audit
***************************/
tr.ACCESS_DOOR{
	background-color: #e5e5e5;
}
tr.MACHINE{
	background-color: #f5f5f5
}
tr.SUBSCRIPTION{
	background-color: #99ccff;
}
tr.PAYMENT{
	background-color: #ccffcc;
}
tr.USAGE{
	background-color: #ffcc99;
}
tr.USER{
	background-color: #ff9999;
}
